<div>

<ng-container *ngIf="loadCountBlock">
  <p>Количество туров:  {{tickets.length}}</p>
  <p>Выбранный тур:  {{blockDirective.activeElementIndex+1}}</p>
</ng-container>

<div class="mt-3 mb-3">
  <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText/>
</div>
<div appBlocksStyle
     *ngIf="tickets"
     #tourWrap
     #blockDirective='blockStyle'
     [selector]="'.ticket-item'"
     [initFirst]="false"
     (renderComplete)="directiveRenderComplete($event)"
     class="d-flex flex-wrap justify-content-around">
  <div (click)="goToTicketInfoPage(item)"
    *ngFor="let item of tickets; let i=index"
       class="ticket-item col-3 m-2">
    <div class="ticket-title">{{item.name}}</div>
    <div class="ticket-location">Страна: {{item.location}}</div>
    <div class="ticket-price">Цена: {{item.price}} руб.</div>
    <div class="ticket-img">
      <img class="w-100" src="http://localhost:3000/public/{{item.img}}"/>
    </div>
  </div>
</div>

</div>
