<div>
  <p-toast key="server" position="top-left"></p-toast>
<div  class="m-3"> Тип меню:

  <p-dropdown class="mt-3" [options]="menuTypes"
              [(ngModel)]="selectedMenuType"
              optionLabel="label"
              (onChange)="changeType($event)">
  </p-dropdown>
</div>

<div class="m-3"> Тип тура :
  <p-dropdown class="mt-3"
              [options]="tourTypes"
              optionLabel="label"
              (onChange)="changeTourType($event)">
  </p-dropdown>
</div>

<div class="m-3"> Выберите дату тура:
      <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
</div>

  <div class="m-4">
    <button  class="btn test-1"  (click)="initRestError()"> Запрос с ошибкой </button>
  </div>

<div class="m-4">
  <button  class="btn test-2" (click)="initSettingsData()"> Обновить настройки </button>
</div>
</div>

