:host {
  min-width: 300px;
  width: 300px;
  flex-basis: 300px;
  border: 1px solid rgba(243, 238, 238, 0.27);
  height: 100%;
}

.test-1 {
  background-color: rgba(229, 145, 145, 0.69);
  width: 180px;
}
.test-2{
  background-color: #9ca1a7;
  width: 180px;
}
