<div class="mt-4 tour-loader-wrap">
    <h4>Создание нового тура</h4>
    <div class="mt-3 user-info" [formGroup]="tourForm">
      <div class="mt-3">
        <span class="mx-3">Название тура</span>
        <input type="text" class="mt-3" formControlName="name" pInputText />
      </div>
      <div class="mt-3">
        <span class="mx-3">Страна</span>
        <input type="text" class="mt-3" formControlName="location" pInputText />
      </div>
      <div class="mt-3">
        <span class="mx-3">Описание тура</span>
        <textarea class="mt-3 p-inputtext" formControlName="description">
          </textarea>
      </div>
      <div class="mt-3">
        <span class="mx-3">Дата тура</span>
        <p-calendar class="mt-3" formControlName="dateTour" (onSelect)="selectDate($event)">
        </p-calendar>
      </div>
  
      <div class="mt-3">
        <span class="mx-3">Туроператор</span>
        <input type="text" class="mt-3" formControlName="operator" pInputText />
      </div>
      <div class="mt-3">
        <span class="mx-3">Стоимость (RUB)</span>
        <input type="number" min="0" class="mt-3" formControlName="price" pInputText />
  
      </div>
  
      <div class="mt-3">
        <span class="mx-3">Изображение </span>
        <input type="file" class="mt-3" (change)="selectFile($event)" formControlName="img" pInputText />
      </div>
  
      <div class="mt-3">
        <span class="mx-3">Тип тура</span>
        <p-dropdown [options]="tourTypes" formControlName="type"></p-dropdown>
      </div>
    </div>
    <div class="mt-4">
      <button pButton class="p-button-info" type="submit" (click)="createTour()">
        Загрузить созданный тур </button>
    </div>
  </div>